<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505151884282-401l1rhbqdgld7825cd8ir0skvm209gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505151884282-401l1rhbqdgld7825cd8ir0skvm209gm</string>
	<key>API_KEY</key>
	<string>AIzaSyB9uo9K-MtfASc7QP9X6I1XNSM-X_zhb34</string>
	<key>GCM_SENDER_ID</key>
	<string>505151884282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamell.LunchLink</string>
	<key>PROJECT_ID</key>
	<string>lunchlink-51a43</string>
	<key>STORAGE_BUCKET</key>
	<string>lunchlink-51a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505151884282:ios:dd5c1d83efde90270eb243</string>
</dict>
</plist>